.banner
{
    display: flex;
    flex-direction: row;
    width: all;
}

.submenu_i {
    background-color : rgba(66,66,66,1);
    padding : 0.7em;
    border-radius : 0.7em;
}

.navigation {
    margin-top: -1em;
    margin-left: 4em;
    color : blue;
}

.navigation a {
    color : inherit;
    text-decoration: underline;
}

.vert-align             /* Aligne l'élément verticalement */
{
    display: flex;
    align-items: center;
}

.body_container{
    padding: 1em;
}

.p_data {
    display: block;
}