body{
	overflow-y: hidden;
}

.dhabitatprincipal{
	display: flex;
	justify-content: space-between;
	margin-left: 2.5%;
	width: 95%;
	height: 200px;
	border-radius: 50px;
	border: 2px solid #35889e;
	background-color: #79bfd2;
	box-shadow : 0px 0px 20px 5px #35889e;
}
	.dleftcontainer{
		width: 200px;	
		border-right: 2px solid #35889e;
		border-radius: 50px 0px 0px 50px;

	}
		.dhabitatactuel{
			height: 35px;
			padding-top: 15px;
			padding-left: 20px;
		}
			.dselecthabitat{ 
				decoration: none;
				border: none;
				background-color: transparent;
			}
		.dtteteindre{
			height: 100px;
		}
			.dtxteteindre{
			margin-top: 50px;
			margin-bottom: 10px;
			margin-left: 50px;
			}
		/* SWITCH */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 90px;
		  height: 45px;
		  margin-left : 48px;
		}
			.switch input {
			  opacity: 0;
			  width: 0;
			  height: 0;
			}
			.slider {
			  position: absolute;	  
			  cursor: pointer;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  background-color: #ccc;
			  -webkit-transition: .4s;
			  transition: .4s;
			}
				.slider:before {
				  position: absolute;
				  content: "";
				  height: 38px;
				  width: 38px;
				  left: 4px;
				  bottom: 4px;
				  background-color: white;	
				  -webkit-transition: .4s;
				  transition: .4s;
				}
				input:checked + .slider {
				  background-color: #2196F3;
				}
				input:focus + .slider {
				  box-shadow: 0 0 1px #2196F3;
				}
				input:checked + .slider:before {
				  -webkit-transform: translateX(45px);
				  -ms-transform: translateX(45px);
				  transform: translateX(45px);
				}
				.slider.round {
				  border-radius: 34px;
				}
				.slider.round:before {
				  border-radius: 50%;
				} 
		/*FIN SIWTCH*/
	.drightcontainer{
		margin-right: 2%;
		width: 98%;
		height: 200px;
		overflow-x: auto;

	}
		.ligne{
			float: left;
			margin-right: 25px;
			margin-left: 80px;
		}
		.detatpiece{
			margin-bottom: 12px;
			margin-top: 12px;
		}
		.detat{
			float: right;
			margin-left: 30px;
		}
		
.scenario{
	height: 1000px;
	margin-top: 50px;
	border-top: 1px solid black;
}
	.dentetepiece{
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-radius: 0px 0px 100px 100px;
		background-color: #35889e;
		width: 99,9%;
		padding-top: 15px;
		height: 40px;
		text-align:  center;
	}
	.dcorppiece{
	}
		.dafficherscenario{
			width: 100%;
			height: 50px;
		}	
		.dbuttonafficherscenario{
			margin-top: 15px;
			margin-left: 60px;
			vertical-align:middle;
			border-radius: 20px;
		}
		.dcorppiece1{
			display: flex;	
			justify-content: space-around;					
		}
			.div_colorpicker{
				position: relative;
				border: 5px solid black;
				border-radius: 100px;
				height: 55px;
				width: 55px;
				overflow: hidden;
			}
				.colorpicker{
					position: absolute;
					right: -10px;
					top:-10px;
					border: none;
					vertical-align: center;
					height: 75px;
					width: 75px;
				}
				.soleil{
					height: 70px;
				}
	.div_dpiecerange{	
		display: flex;
		width: 100%;
		margin-top: 5%;
		justify-content: space-around;
	}
	.div_dtxtluminosite{
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
		.dtxtluminosite{	
		}
