.fake_dhabitatprincipal{
	margin-bottom: 300px;
}
.triche2{
	z-index: 0;
	position: fixed;
	height: 300px;
}
.dhabitatprincipal{
	margin-top: 50px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	margin-left: 2.5%;
	width: 95%;
	height: 200px;
	border-radius: 25px;
	border: 2px solid #35889e;
	background-color: #79bfd2;
	box-shadow : 0px 0px 20px 5px #35889e;
}
	.dleftcontainer{
		width: 200px;	
		border-right: 2px solid #35889e;
		border-radius: 50px 0px 0px 50px;

	}
		.dhabitatactuel{
			height: 35px;
			padding-top: 15px;
			padding-left: 20px;
		}
			.dselecthabitat{ 
				decoration: none;
				border: none;
				background-color: transparent;
			}
		.dtteteindre{
			height: 100px;
		}
			.dtxteteindre{
			margin-top: 50px;
			margin-bottom: 10px;
			margin-left: 50px;
			}
		/* SWITCH */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 90px;
		  height: 45px;
		  margin-left : 48px;
		}
			.switch input {
			  opacity: 0;
			  width: 0;
			  height: 0;
			}
			.slider {
			  position: absolute;	  
			  cursor: pointer;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  background-color: #ccc;
			  -webkit-transition: .4s;
			  transition: .4s;
			}
				.slider:before {
				  position: absolute;
				  content: "";
				  height: 38px;
				  width: 38px;
				  left: 4px;
				  bottom: 4px;
				  background-color: white;	
				  -webkit-transition: .4s;
				  transition: .4s;
				}
				input:checked + .slider {
				  background-color: #2196F3;
				}
				input:focus + .slider {
				  box-shadow: 0 0 1px #2196F3;
				}
				input:checked + .slider:before {
				  -webkit-transform: translateX(45px);
				  -ms-transform: translateX(45px);
				  transform: translateX(45px);
				}
				.slider.round {
				  border-radius: 34px;
				}
				.slider.round:before {
				  border-radius: 50%;
				} 
		/*FIN SIWTCH*/
	.drightcontainer{
		margin-right: 2%;
		width: 98%;
		height: 200px;
		overflow-x: auto;

	}
		.ligne{
			float: left;
			margin-right: 25px;
			margin-left: 50px;
		}
		.detatpiece{
			display: flex;
			margin-bottom: 12px;
			margin-top: 12px;
		}
			.etatpiece{
				margin-top: 2px;
				margin-right: 5px;
				border: 1px solid black;
				width: 15px;
				height: 15px;
				background-color: green;
				border-radius: 20px;
			}
			.detat{				
				float: right;
				margin-left: 30px;
			}
.fake_scenario{
}		
.scenario{
	z-index: -10;
	height: 100px;
	margin-top: 50px;
}
	.dentetepiece{
		position: fixed;
		border: 1px solid black;
		background-color: #35889e;
		width: 100%;
		padding-top: 15px;
		height: 40px;
		text-align:  center;
	}
.Line{
	z-index: -10;
	display: flex;
	flex-direction: line;
}
.Piece{
	height: 200px;
	width: 450px;
	border: 1px solid black;
	border-radius: 15px;
	background-color: #FFFFFF;
	margin: 15px;
	margin-left: auto;
   margin-right: auto;	
}

.Entete_piece{
	background-color: #DFE0DF;
	width: 100%;
	height: 20px;
	text-align:  center;
	border-radius: 15px 15px 0px 0px;
}
.contenu_piece{
	display: flex;
	flex-direction: row;
}

.pieceallume{
margin: 30px 30px 0px 0px;
padding-left: 15px;
}

.btn_pieceallume{
float: right;
}

.leftpiece{
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 60%;
}

.colorpicker{
	position: absolute;
	right: -10px;
	top:-10px;
	border: none;
	vertical-align: center;
	height: 90px;
	width: 90px;
}

.div_colorpicker{
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 2%;
	position: relative;
	border: 5px solid black;
	border-radius: 100px;
	height: 55px;
	width: 55px;
	overflow: hidden;
}

.texte_couleur{
	text-align: center;
	margin-bottom: 15%;
}

.piecerange{
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 2%;
}

.texte_intensite{
	text-align: center;
}

.rightpiece{
	width: *;
}

.soleil{
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
}

.texteluminosite{
	margin-left: 5px;
}

