@media (max-width: 750px){

.RightContainer{	

	justify-content: space-around;
	padding: 15px;
	width: 50%;
	align-items: flex-end;
}
	
.Piece{
	height: 300px;
	width: 300px;
}
}

@media (max-width: 1000px) and (min-width:751px){

.RightContainer{	

	justify-content: space-around;
	padding: 15px;
	width:80%;
}
	
.Piece{
	height: 200px;
	width: 450px;
}
}

@media (min-width: 1000px){

.RightContainer{	

	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px 15px 0px;
	justify-content: space-around;	
	width: 80%;
}
	
.Line{

	display: flex;
	flex-direction: line;
}
	
.Piece{
	height: 200px;
	width: 450px;
}
}

*{
	margin: 0;
 	padding: 0; 
}

body{
	background: radial-gradient(circle at center, #DFE0DF,#BDF9F9 );
}

.Entete{
	padding: 20px 0;
	height:130px;
	width: 100%;
	background-color: white;
}

.menu{
	display: flex;
	justify-content: space-around;
}

.entete_leftcontainer{
	padding: 10px;
	background-color: #DFE0DF;
	border-radius: 0px 15px 0px 0px;
	text-align: center;
}

.dashboard{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 500px;
}

.selecthabitation{
	width: 150px;
	height: 40px;
	text-align: center;
	border-radius: 0px 15px 15px 15px;
	background-color: #DFE0DF;
}

.LeftContainer{
	transition-duration: 1s;
	transform: translateX(-250px);
	width:300px;
	background-color: #FFFFFF;
	height: 100%;
	position: fixed;
	border-radius: 0px 15px 0px 0px;
	border: 1px solid black;
	box-shadow: 0px 0px 15px 0px;
}
.LeftContainer:hover{
   	transition-duration: 0.4s;
	transform: translateX(0px); 
}

.fakeLeftContainer{
	width: 300px;
	height: 500px;
}

.Piece{
	border: 1px solid black;
	border-radius: 15px;
	background-color: #FFFFFF;
	margin: 15px;
	margin-left: auto;
   margin-right: auto;	
}

.Entete_piece{
	background-color: #DFE0DF;
	width: 100%;
	height: 20px;
	text-align:  center;
	border-radius: 15px 15px 0px 0px;
}
.contenu_piece{
	display: flex;
	flex-direction: row;
}
.rightpiece{
	
}

.leftpiece{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}
.texte_couleur{
text-align: center;
}
.colorpicker{
	position: absolute;
	right: -5px;
	top:-5px;
	border: none;
	vertical-align: center;
	height: 70px;
	width: 70px;
}

.div_colorpicker{
	margin: 40px;
	position: relative;
	border: 5px solid black;
	border-radius: 100px;
	height: 58px;
	width: 58px;
	overflow: hidden;
}

.Content_piece{
	background-color: blue;
}