@media (max-width: 750px){

.RightContainer{	

	justify-content: space-around;
	padding: 15px;
	width: 50%;
	align-items: flex-end;
}
	
.Piece{
	height: 300px;
	width: 300px;
}
}

@media (max-width: 1000px) and (min-width:751px){

.RightContainer{	

	justify-content: space-around;
	padding: 15px;
	width:80%;
}
	
.Piece{
	height: 200px;
	width: 450px;
}
}

@media (min-width: 1000px){

.RightContainer{	

	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px 15px 0px;
	justify-content: space-around;	
	width: 80%;
}
	
.Line{

	display: flex;
	flex-direction: line;
}
	
.Piece{
	height: 200px;
	width: 450px;
}
}

*{
	margin: 0;
 	padding: 0; 
}

body{
	background: radial-gradient(circle at center, #DFE0DF,#BDF9F9 );
}

.Entete{
	padding: 20px 0;
	height:130px;
	width: 100%;
	background-color: white;
}

.menu{
	display: flex;
	justify-content: space-around;
}

.entete_leftcontainer{
	padding: 15px;
	background-color: #DFE0DF;
	border-radius: 0px 15px 0px 0px;
	text-align: center;
}

.dashboard{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 500px;
}

.selecthabitation{
	width: 150px;
	height: 40px;
	text-align: center;
	border-radius: 0px 15px 15px 15px;
	background-color: #DFE0DF;
}

.LeftContainer{
	z-index: 10;
	transition-duration: 1s;
	transform: translateX(-250px);
	width:300px;
	background-color: #FFFFFF;
	height: 100%;
	position: fixed;
	border-radius: 0px 15px 0px 0px;
	border: 1px solid black;
	box-shadow: 0px 0px 15px 0px;
}

.LeftContainer:hover{
   transition-duration: 0.4s;
	transform: translateX(0px); 
}

.LeftContainer:hover .fleche{
	float: right;
   transition-duration: 0.4s;
	transform: rotate(90deg); 
}

.fleche{
	float: right;
	transition-duration: 1s;
	transform: rotate(0deg);
}

.fakeLeftContainer{
	width: 300px;
	height: 500px;
}

.Piece{
	border: 1px solid black;
	border-radius: 15px;
	background-color: #FFFFFF;
	margin: 15px;
	margin-left: auto;
   margin-right: auto;	
}

.Entete_piece{
	background-color: #DFE0DF;
	width: 100%;
	height: 20px;
	text-align:  center;
	border-radius: 15px 15px 0px 0px;
}
.contenu_piece{
	display: flex;
	flex-direction: row;
}

.pieceallume{
margin: 30px 30px 0px 0px;
padding-left: 15px;
}

.btn_pieceallume{
float: right;
}

.leftpiece{
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 60%;
}

.colorpicker{
	position: absolute;
	right: -5px;
	top:-5px;
	border: none;
	vertical-align: center;
	height: 70px;
	width: 70px;
}

.div_colorpicker{
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 2%;
	position: relative;
	border: 5px solid black;
	border-radius: 100px;
	height: 55px;
	width: 55px;
	overflow: hidden;
}

.texte_couleur{
	text-align: center;
	margin-bottom: 15%;
}

.piecerange{
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 2%;
}

.texte_intensite{
	text-align: center;
}

.rightpiece{
	width: *;
}

.soleil{
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
}

.texteluminosite{
	margin-left: 5px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  float: right;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 